#gallery {
    background-color: #FCF9FA;
    padding: 16px 96px 128px 96px;
}

.image-wrapper {
    width: 100%;
}

img {
    width: 100%;
}

@media (max-width: 1024px) {
    #gallery {
        padding: 100px 16px;
    }
}