a {
    color: inherit;
    text-decoration: none;
}

#header {
    justify-content: space-between;
    width: 100vw;
    z-index: 999;
    background-color: #e8e8e8;
    position: fixed;
    top: 0;
    left: 0;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

ul.list {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

ul.left {
    z-index: 1;
}

.nav-item {
    position: relative;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

/*
#playBtn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    transition: left 0.4s ease;
}

#playBtn:hover::before {
    left: 0;
}
*/

.home-item {
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.home-item img {
    width: 2rem;
}

.nav-item::before {
    content: "";
    position: absolute;
    bottom: -3px;
    width: 0;
    height: 3px;
    background-color: rgba(0,0,0,.5);
    transition: width 0.2s ease-out;
}

.nav-item.active::before {
    width: 100%;
    transition: width 0.2s ease-out;
}

.nav-item:hover {
    opacity: .8;
}

.nav-item::after {
    content: "";
    position: absolute;
    bottom: -3px;
    width: 110%;
    bottom: -3px;
    right: -5%;
    height: 0;
    z-index: -1;
    background-color: rgba(0,0,0,.2);
    transition: height 0.1s ease-in;
}

.nav-item:hover::after {
    height: 110%;
    transition: height 0.2s ease-out;
}

.nav-icon {
    position: relative;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.list-dropdown {
    margin-top: 5px;
    display: flex;
    position: absolute;
    flex-direction: column;
}

.list-dropdown li {
    opacity: 1;
    background-color: white;
    width: 100%;
    white-space: nowrap;
    margin-left: -50vw;
    padding-left: 50vw; /* kind of gimmicky to add white edge to bg of dropdown list */
}

.list-dropdown.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.title {
    display: flex;
    margin: 0;
    text-align: center;
    position: absolute;
    font-size: 2.1rem;
    font-family: 'Montserrat', monospace, sans-serif;
    height: 100%;
    width: 100%;
    opacity: 1;
    justify-content: center;
    align-items: center; 
}

.title.incomplete p::after, .title-text:hover::after {
    content: "|";
    color: #4c4c9c;
    display: inline;
    animation: blink 1s steps(1) infinite;
}

@keyframes blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
}


.hamburger {
    display: none;
}

@media (max-width: 768px) {
    #header {
        height: 68px;
    }
    .title {
        background-color: #e8e8e8;
        z-index: 999;
        display: flex;
        position: relative;
    }
    .hamburger {
        pointer-events: all;
        display: flex;
        position: absolute;
        right: 0;
        margin-right: 16px;
        align-items: center;
    }
    .nav {
        position: relative;
        background-color: #e8e8e8;
    }
    .nav.inactive {
        top: -100%;
        transition: top .5s ease-out;
    }
    .nav.active {
        top: 0;
        transition: top .3s ease-out;
    }
    .home-item {
        display: none;
    }
    .list.right li.nav-item {
        margin: 0;
    }
    .nav-icon {
        margin-right: 0;
    }
    .nav-icon svg {
        width: 1rem;        
    }
}