#portfolio {
    margin-top: 68px;
    padding: 16px 96px 128px 96px;
    background-color: #FCF9FA;
}

@media (max-width: 1024px) {
    #portfolio {
        padding: 100px 16px;
    }
}

.image-wrapper {
    margin: 8px;
}

.image-wrapper img {
    opacity: 1;
    cursor: pointer;
    transition: opacity .8s ease;
}

.image-wrapper img:hover {
    opacity: .8;
    transition: opacity .2s ease;
}