<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Layout</title>
</head>
<body>
    <div id="caption-drop" ondrop="dropHandler(event)">
        Drop file here
    </div>
    <button id="btn-1">Landscapes and Nature</button>
    <button id="btn-2">The Michigan Daily</button>  
    <button id="btn-3">Portraits and People</button>

    {% if paths %}
    <div>
        {% for path in paths %}
        <img src="{{'../' + path}}"/>
        {% endfor %}
    </div>
    {% endif %}

    <div id="div-1">
        <header>Landscapes and Nature</header>
        <div id="imgs-1"></div>
    </div>


</body>
    <script type="module" src="./script.js"></script>
</html>