body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', sans-serif;
}
img {
  pointer-events: none;
}

#nav-carousel {
  position: sticky !important;
  margin: 0; 
  top: 0;
  height: 100px;
  display: flex;
  justify-content: center;
  list-style: none;
  background-color: rgba(0, 0, 0, .1);
  backdrop-filter: blur(4px);
  align-items: center;

}

#nav-carousel .active {
  vertical-align: middle;
  font-size: 40px;
  font-weight: bold;
  color: #555555;
}

#nav-carousel li {
  cursor: pointer;
  font-size: 28px;
  position: relative;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 25px;
  transition: all 0.3s ease;
  color: #888888;

}
#nav-carousel li:hover {
  color: #696969;
}

#nav-carousel-alt {
  position: sticky !important;
  margin: 0; 
  top: 0;
  height: 100px;
  display: flex;
  justify-content: center;
  list-style: none;
  background-color: rgba(0, 0, 0, .1);
  backdrop-filter: blur(4px);
  align-items: center;

}

#nav-carousel-alt .active {
  vertical-align: middle;
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
}

#nav-carousel-alt li {
  cursor: pointer;
  font-size: 28px;
  position: relative;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 25px;
  transition: all 0.3s ease;
  color: #bfbfbf;

}
#nav-carousel-alt li:hover {
  color: #adadad;
}


#portfolio-nav {
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 32px;
  transition: transform .15s ease-out;
}

@keyframes portfolio-fade {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

#portfolio-nav li {
  cursor: pointer;
  color: #333333;
  margin-left: 2.5%;
  margin-right: 2.5%;
  width: auto;
  transition: color .3s ease;
  animation: portfolio-fade 1s;
}

#portfolio-nav li:hover {
  color: #696969;
}

#portfolio-nav li.active {
  text-decoration: underline;
}

#show-page {

}

#intro {
  font-size: 48px;
  color: #efefef;
  width: auto;
}

#intro p {
  position: relative;
  left: 25%;
  width: 70%;
}

.intro-text {
  opacity: 0;
  transition: all 1s ease;
}

.intro-text.active {
  opacity: 1;
}

@keyframes home-fade {
  0% {opacity: 0;}
  30% {opacity: 0;}
  100% {opacity: 1;}
}

.cursor {
  border-left: 2px solid white;
  animation: cursor 1s infinite;
  transition-delay: 1s;
}

@keyframes cursor {
  0% {
    border-left-color: white;
  }
  50% {
    border-left-color: transparent;
  }
  100% {
    border-left-color: white;
  }
}

#home-images img {
  z-index: -2;
  transition: all 1s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 30%;
  filter: brightness(69%);
  opacity: 0;
  animation-delay: 7zs;
  animation: cycle-images 21s infinite;
}

@keyframes cycle-images {
  0% {
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#home-images img:nth-child(1) {
  animation-delay: 0s;
}

#home-images img:nth-child(2) {
  animation-delay: 7s;
}

#home-images img:nth-child(3) {
  animation-delay: 14s;
}

#social-btns {
  display: flex;
  position: absolute;
  bottom: 10%;
  transform: translateX(-50%);
  left: 50%;
}


.social-btn {
  cursor: pointer;
  background-color: rgba(255, 255, 255, .75);
  transition: background-color .3s ease-in-out;
  aspect-ratio: 1/1;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 50%;
  border: none;
}
.social-btn:hover {
  background-color: rgba(255, 255, 255, 1);
}

.scroll-down {
  position: fixed;
  bottom: 15px;
  left: 50%;
  background-color: black;
  opacity: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: all 0.5s ease;
  text-align: center;
  font-size: 72px;
  color:#aaaaaa
}

.scroll-down.hidden {
  opacity: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1%;
}

.grid-item {
  max-height: 65%;
  padding: 20px;
}



.portfolio-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  animation: portfolio-fade .5s ease-in;
}

.portfolio-img.loaded {
  opacity: 1;
}

.portfolio-viewer {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 9999;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
}

.portfolio-viewer img {
  max-width: 90vw;
  max-height: 90vh;
}

.port-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewer-close-btn {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  font-size: 32px;
  cursor: pointer;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  color: #fafafa;
}

.viewer-left {
  position: relative;
  border: none;
  right: 46vw;
  font-size: 72px;
  cursor: pointer;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  color: #fafafa;
}
.viewer-right  {
  position: relative;
  border: none;
  left: 46vw;
  font-size: 72px;
  cursor: pointer;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  color: #fafafa;
}

#viewer-arrows {
  position: absolute;
}

#pricing-background {
  width: 100%;
  height: 300%;
  background-image: url('images/collage.png');
  background-size: contain;
  background-repeat: repeat;
  height: 200vh;
  margin-top: -20%;
  position: absolute;
  filter: blur(4px);
  z-index: -1;
  animation: .1s ease-in home-fade;
}

#stationary {
  z-index: 999;
  text-align: center;
  font-size: 24px;
  margin-top: -10%;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  background-color:rgba(255, 255, 255, .85);
}

.pricing-section {
  cursor: pointer;
}

.pricing-header {
  transition: opacity .25s ease-in-out;
}

.pricing-header:hover {
  opacity: .5;
}

.pricing-subheader {
  text-align: left;
  font-size: 20px;
}

.pricing-list {
  list-style: disc;
  font-size: 20px;
}

.pricing-list li {
  text-align: left;
  padding: 0;
}

.pricing-info {
  animation: portfolio-fade .5s;
}

.important-info {
  font-size: 14px;
  color: #474747;
  text-align: center;
}

.info-header {
  font-size: 14px;
}

.footer {
  text-align: center;
  padding-top: 20vh;
}

.footer-header {
  font-size: 24px;
}

.footer-contact {
  font-size: 16px;
}